<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${@site.title}"></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link th:href="@{/assets/css/admin/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<th:block th:include="admin/includes/header"></th:block>
		<div id="wrapper">
			<div id="content">
				<div id="site-form">
					<form method="post" th:object="${siteVo}" th:action="@{/admin/main/update}" enctype="multipart/form-data">
						<input type="hidden" th:field="*{profile}" />
						
						<label class="block-label" for="title">사이트 타이틀</label>
						<input type="text" id="title" th:field="*{title}">
						
						<label class="block-label" for="welcomeMessage">환영 메세지</label>
						<input type="text" id="welcomeMessage" th:field="*{welcome}">

						<label class="block-label">프로필 이미지</label>
						<img style="width:120px" id="profile" th:src="@{(*{profile})}">
						<input type="file" name="file">

						<label class="block-label">사이트 설명</label>
						<textarea name="description" th:text="*{description}"></textarea>
						
						<input type="submit" value="변경" />
					</form>
				</div>
			</div>
			<th:block th:include="admin/includes/navigation"></th:block>
		</div>
	</div>
</body>
</html>